*{
	margin: 0;
	padding: 0;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes navmov {
    from { top: -100px; }
    to   { top: 0px; }
}
p{
	font-size: 14pt;
}
h4{
	color: #FF7F50;
}
#navbar{
	animation: navmov 0.5s ease-out;
	background-color: #fff!important;
	width: 100%;
	position: fixed;
	transition: top 0.5s;
	top: 0;
	z-index:1;
	box-shadow: 0 0 20px rgba(0,0,0, 0.1);
}
.right-menu li{	
	margin-top: 30px;
	margin-right: 10px;
	display: inline-block;
}
.right-menu .fa{
	font-size: 18px;
	cursor: pointer;
}
.navbar-brand img{
	width: 70px;
}
.navbar{
	padding: 0 35px 0 20px !important;
}

/*---header-banner---*/
.head{
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), url(../assets/tankbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.head .title{
	display: block;
	padding: 200px 20% 0;
}
.title h1{
	animation: fadein 1s ease-in-out;
	font-weight: bolder;
	font-size: 60pt;
	line-height: 1.05;
	word-spacing: -3px;
	color: #fff;
}
.head .button{
	animation: fadein 1s ease-in-out;
	padding: 1% 0 0 20%;
}
.head .button a{
	font-size: 20pt;
	font-weight: bolder;
	letter-spacing: 1pt;
	color: #fff;
	background: none;
	box-shadow: #40d8b4 0 -25px inset;
	padding: 11px 12px;
	text-decoration: none;
	transition-property: box-shadow;
    transition-duration: 0.3s;
}

.head .button a:hover{
	box-shadow: #40d8b4 0 -50px inset;
}
/*------Title Style-----*/
.box{
	margin-top: 110px;
}
.title-style h1{
	padding: 30px 0;
	font-weight: bold;
	color: #40d8b4;
	font-size: 44pt;
}
.box h3{
	margin-top: 30px;
	font-weight: bold;
	color: #40d8b4;
	font-size: 24pt;
}

.title-style-box h1{
	margin-top: 50px;
	background-image: linear-gradient(to right,rgba(0,206,209,1),rgba(0,250,154,1));
	padding-bottom: 15px;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 48pt;
	font-weight: bold;
	position: relative;
}
/*------Index-Aquatic-plants------*/
img#m-img4{
	width: 100%;
	margin: 40px 0 100px;
	border-radius: 10px;
	box-shadow: 5px 30px 50px rgba(0,0,0, 0.1);
}
p#text1{
	font-size: 16pt;
	margin: 40px 0;
}
p#text2{
	font-size: 16pt;
	padding: 0 80px;
	margin: 40px;
}

.plants-img{
	text-align: center;
}
.plants-img img{
	margin-top: 10%;
	width: 300px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 30px 50px rgba(0,0,0, 0.1);
}

.plants-img img#m-img1{
	background-color: #ADFF2F;
}
.plants-img img#m-img2{
	background-color: #FF7F50;
}
.plants-img img#m-img3{
	background-color: #AFEEEE;
}

/*------about------*/
p.ab-text{
	padding: 0 15%;
}
.ab-card{
	border-radius: 10px;
    box-shadow: 0 30px 50px rgba(0,0,0, 0.1);
    border: none;
    padding-bottom: 10px;
    margin: 30px;
    position: relative;
    width: 100px;
    background-color: #fff;
}
.ab-card img{
	border-radius: 10px 10px 0 0;
	margin-bottom: 15px;
}
p.nama{
	color: #40d8b4;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 0.2pt;
}
p.nim{
	font-size: 14pt;
	color: #a1a1a1;
	letter-spacing: 2pt;
}

/*------contact form------*/
.form-head{
	text-align: center;
	padding: 200px 0 0;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)), url(../assets/tank7.jpeg);
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 80%;
	background-size: cover;
	overflow: visible;
}
.wrap{
	margin: -15% 10% 5%;
}
.form-wrap{
	text-align: right;
	width: 100%;
	background: #fff;
	box-shadow:  0 0 50px rgba(0,0,0, 0.5);
	padding: 0 15% 5%;
	border-radius: 2px;
	display: inline-block;
}
.form-wrap p{
	text-align: center!important;
	padding: 60px 15% 5%;
}
form .form-control{
	margin-top: 15px;
	background: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #40d8b4;
	transition: 0.2s ease-in-out;
}
form .form-control:focus{
	transform: scale(1.02);
    padding: 10px 25px;
    transition: 0.2s ease-in-out;
}
form .form-control-button{
	align-content: center;
	font-weight: bold;
	letter-spacing: 1pt;
	margin-top: 24px;
	width: 180px;
	height: 48px;
	border: none;
	color: white;
	background-color: #40d8b4;
}
form .form-control-button:hover{
	background-color: #33ac90;
	cursor: pointer;
}

/*-----footer-----*/
footer{
	margin-top: 10%;
	text-align: center;
	background-color: #f3f4f2;
	flex-shrink: 0;
	padding: 20px 0 10px;
}
footer img{
	width: 180px;
}
#bottom{
	padding-top: 10px;
	letter-spacing: 3pt;
}